//
//  Debug.xcconfig
//  UDEX
//
//  Created by Abai Abakirov on 12/18/19.
//  Copyright © 2019 MakeUseOf. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Base.xcconfig"
#include "Pods/Target Support Files/Pods-UDEX/Pods-UDEX.debug.xcconfig"

INFURA_PROJECT_ID = fc5228250a6843fe8b41c6e7149a7b0d
INFURA_PROJECT_SECRET = 8d2de304be4043809fd5a019ae72dc98
ETHERESCAN_KEY = NHURUUGCB2HDQFS26CKTRT51K4PHBY7234
TEST_MODE = true
DEFAULT_WORDS = burden crumble violin flip multiply above usual dinner eight unusual clay identify
