//
//  Staging.xcconfig
//  UDEX
//
//  Created by Abai Abakirov on 12/18/19.
//  Copyright © 2019 MakeUseOf. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Base.xcconfig"
#include "Pods/Target Support Files/Pods-UDEX/Pods-UDEX.staging.xcconfig"

INFURA_PROJECT_ID =
INFURA_PROJECT_SECRET =
ETHERESCAN_KEY = 
TEST_MODE = false
DEFAULT_WORDS =
