//
//  Staging.xcconfig
//  UDEX
//
//  Created by Abai Abakirov on 12/18/19.
//  Copyright © 2019 MakeUseOf. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Base.xcconfig"
#include "Pods/Target Support Files/Pods-UDEX/Pods-UDEX.staging.xcconfig"

INFURA_PROJECT_ID = 0c3f9e6a005b40c58235da423f58b198
INFURA_PROJECT_SECRET = 57b6615fb10b4749a54b29c2894a00df
ETHERESCAN_KEY = NHURUUGCB2HDQFS26CKTRT51K4PHBY7234
